In [1]:
GRAVITY= 9.8 #constant

In [2]:
PI=3.14 #constant

In [3]:
temperature=17

In [4]:
print(temperature)

17

In [5]:
GRAVITY_OF_EARTH= 9.8
GAVITY_OF_MOON=1.62

In [9]:
a=0b10101 #binary number
b=100 #decimal literal
c=0x0102 #hexadecimal literal
d=0o2342 #octal literal
print(a,b,c,d)

21 100 258 1250

In [10]:
#float literal
float_1= 10.5
float_2= 1.5e2 #1.5*10^2
print(float_2)

150.0

In [12]:
strings="this is a string"
char='c'
multiline_String="""this is a multiline string"""
unicode=u"\u00denic\u00f6de" #\and then  characters
raw_str= r"\raw \n string"

hello='hello'
hello="hello"
hello="""hello"""
hello='''hello'''
print(strings)
print(char)
print(multiline_String)
print(unicode)
print(raw_str)

this is a string
c
this is a multiline string
Þnicöde
\raw \n string

In [13]:
a='Hello world \n welcome to python course'

In [14]:
print(a)

Hello world
 welcome to python course

In [15]:
a='Hello world \t welcome to python course'
print(a)

Hello world 	 welcome to python course

In [16]:
a=r'Hello world \t welcome to python course'
print(a)

Hello world \t welcome to python course

In [17]:
x=True
y=False
print(x,y)

True False

In [18]:
x=None #special literal
print(x)

None

In [20]:
fruits=["apple","orange","mango"] #list
numbers=(1,2,3) #tuple
vowels={'a','e','i','o','u'} #set

print(fruits)
print(numbers)
print(vowels)

['apple', 'orange', 'mango']
(1, 2, 3)
{'u', 'o', 'a', 'i', 'e'}

In [23]:
person ={
    'name':"ram",
    'address':'ktm',
    'age': 17
    
}
print(person)

{'name': 'ram', 'address': 'ktm', 'age': 17}

In [25]:
b=0.0123456789 #17 digits after point
print(b)

0.0123456789

In [26]:
#conversion
float(5)#type conversion

5.0

In [27]:
int(5.5)

5

In [28]:
float("2.4")

2.4

In [29]:
float('2p') #throws an error

ValueError: could not convert string to float: '2p'