In [1]:
x=5
y=2
sum=x+y
print(sum)

7

In [2]:
#the input from the user when added performs concatenation of the two number rather than the sum so to solve it, declare it as int
x=input("Enter the value of x")
y=input("Enter the value of y")
sum=x+y #concatenation
print(sum)

Enter the value of x5
Enter the value of y10
510

In [5]:

first_name="ram"
last_name="bahadur"
full_name=first_name+last_name
print(type(first_name))
print(full_name)

<class 'str'>
rambahadur

In [8]:
#solution to concatenation problem
x=int (input("Enter the value of x"))
y=int (input("Enter the value of y"))
sum=x+y #addition
print(sum)

Enter the value of x5
Enter the value of y10
15

In [15]:
#calculate the simple interest
p= int(input("Enter the principle "))
t= int(input("Enter the time "))
r= int(input("Enter the rate "))
si=(p*t*r)/100
#string interpolation => f-string
print(f"The simple interest of principle {p} in time {t} at rate {r} is:",si)
#using format
print("The simple interest of principle {} in time {} at rate {} is: {}".format(p,t,r,si))

Enter the principle 1000
Enter the time 10
Enter the rate 10
The simple interest of principle 1000 in time 10 at rate 10 is: 1000.0
The simple interest of principle 1000 in time 10 at rate 10 is: 1000.0

# Operators

In [16]:
10% 3 #modulo disivision

1

In [17]:
2**5 #power operator

32

In [20]:
5//2 #integer division/floor division

2

In [19]:
5/2 #division

2.5

In [22]:
#comparison operator
x=5
y=4
x>y #greater
x<y #less
x==y #equal

False

In [23]:
x<=y #less than or equal to

False

In [24]:
x!=y #xnot equal to

True

In [25]:
x>=y #greater than or equal to

True

In [26]:
#length of character
len("apple")

5

In [28]:
#logical operators and, or, not
#and => allvalues true then true
True and True and True

True

# Logical Operators

In [29]:
#logical operators and, or, not
#and => allvalues true then true
True and True and False

False

In [30]:
#or any one value true=>true
True or True or True

True

In [32]:
True or False

True

In [33]:
False or False

False

In [34]:
#not if true => false
not True

False

In [35]:
not False

True

In [36]:
#is 
1==1

True

In [37]:
1 is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Jasmine\AppData\Local\Temp\ipykernel_1052\3497154638.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1

True

In [39]:
#address of a variable
x=1
y=2
print(id(x))
print(id(y))
x is y #compare memory address

2133621958960
2133621958992

False

In [53]:
x=55
y=55
print(id(x))
print(id(y))
x is y

2133622149168
2133622149168

True

In [ ]:
#python inserts values from 0 to 255 in a same memory location and afer that stores it in diff memory locations
#for strings, a valid variable causes the string to be stored in the same memory (string interning)

In [54]:
x=257
y=257
x is not y

True

In [ ]:
#in operator
'a' in 'jasmine'

In [41]:
'A' in 'jasmine' #case sensitive

False

In [42]:
'js' in 'jasmine' #looks for a sequence

False

In [43]:
True and True or False

True

In [44]:
#precedence and-or-
True or False and False

True

# Bitwise Operators

In [45]:
#bitwise and
a=2 #binary 0010
b=3 #binary 0011
print('a & b: ',a&b)

a & b  2

In [48]:
#bitwise and
a=2 #binary 0010
b=3 #binary 0011
print('a or b: ',a|b)

a or b:  3


# Assignment operators

In [49]:
x=5

In [50]:
x=x+5
print(x)

10

In [51]:
x+=5
print(x)

15

# Namespace

In [55]:
#gloal scope/ file level/ module level scope / global namespace
ram="ram"
print(ram)

ram

In [56]:
#built in scope like print, input, max, sum, min, len

In [57]:
#local scope within functions
def hello():
    h='hello'
    print(h)

In [58]:
hello() #call from the function

hello

In [59]:
print(h) #as h is defined within a function

NameError: name 'h' is not defined

# Number, Type conversion

In [61]:
#is instance operator
a= 2+3j
print(isinstance(a,complex))
print(type(a))

True
<class 'complex'>

In [62]:
#binary, octal, hexadecimal
print(0b10101) #binary
print(0o012) #octal
print(0x12349) #hexadecimal

21
10
74569

In [63]:
#adding int to float gives float

# Decimal module

In [64]:
import decimal
print(decimal. Decimal('1.1')+ decimal.Decimal('2.2'))

3.3

In [65]:
from decimal import Decimal #Decimal is class and decimal is module
print(decimal. Decimal('1.1')+ decimal.Decimal('2.2'))

3.3

In [66]:
from decimal import Decimal as d
print(d('1.1')+ d('2.2'))

3.3