# Strings Contd..

In [1]:
x="nepali"
print(x[0:5:1])

nepal

In [2]:
x="nepal"
print(x[0:5:2]) #start: stp: step

npl

In [5]:
x="" #empty string
print(x)

In [6]:
x="nepal is beautiful "
print(x.capitalize())

Nepal is beautiful

In [8]:
x="nepal is beautiful"
print(x.startswith("Ne"))

False

In [9]:
x="nepal is beautiful"
print(x.find("a"))

3

In [10]:
x="nepal is beautiful"
print(x.find("a",5))

11

In [11]:
x="nepal."
print(x.isalnum()) #not albhabet and numeral only

False

In [12]:
#albhabet and numeral only
x="nepal"
print(x.isalnum())

True

In [14]:
x="nepal123"
print(x.isalnum()) #is alphabet and numeric

True

In [17]:
x="nepal"
print(x.islower()) #is lower case

True

In [20]:
x="NEPAL"
print(x.islower())
print(x.isupper()) #uppercse check

False
True

In [23]:
#joining operation
x=["ram",'shyam','hari']
y=", ".join(x)
print(y)

ram, shyam, hari

In [27]:
#split
x="one=>two=>three"
y=x.split("=>")
print(y)

['one', 'two', 'three']

In [28]:
x="nepal NEPAL nepal"
y=x.split("NEPAL")
print(y)

['nepal ', ' nepal']

In [29]:
#replace function
x="nepal NEPAL nepal"
y=x.replace("ne","go")
print(y)

gopal NEPAL gopal

In [31]:
#replication
x="nepal"*2
print(x)

nepalnepal

In [32]:
#replication
x="nepal"+2 #not allowed
print(x)

TypeError: can only concatenate str (not "int") to str

In [33]:
#replication
x="nepal"+"2" #concatenation
print(x)

nepal2